%p.parraf{:style => "color:#0B2F53; font-weight:bold;"}
	Audio
.downloads
	%audio{:controls => "controls", :height => "50px", :width => "100px"}
		%source{:src => "/images/song.mp3", :type => "audio/mp3"}
		%source{:src => "/images/song.wav", :type => "audio/wav"}

	=link_to("Descargar aqui", "/download_file?audio=true", :style => "vertical-align:middle")
%br

%p.parraf{:style => "color:#0B2F53; font-weight:bold;"}
	Diapositivas 
%br	
%a{:href=> "/download_file?diapositiva=true"}
	=image_tag("diapo_logo.png", :class => "diapo_logo")
