.event_container
	.title
		XXI Foro de Servicio

	.slogan
		El SERVICIO en A.A. 
		Una expresion de GRATITUD

	.info
		Lugar: Auditorio COMFAMILIAR Cra 43 Calle 48
		%br
		Fecha: Junio 30, 1 y 2 de julio de 2012
		%br
		Informes: 364 6822 - 300430 1187
		%br
		e-mail: regionaarea2@gmail.com
		%br
		Barranquilla - Colombia
