.parraf
  ¿Es Alcoholicos Anonimos para ti?
  %br
  responde las siguientes 12 preguntas
  = link_to "aqui", "/encuesta", :class => "question_title"

%br
%br
#slideshow
  = image_tag("alan1.jpg", :class => "active", :alt =>"")
  = image_tag("alan2.jpg", :alt =>"")
  = image_tag("alan3.jpg", :alt =>"")

