#slideshow
  = image_tag("logo.jpg", :class => "active", :alt =>"")
  = image_tag("phonenumber.jpg", :alt =>"")
  = image_tag("security.jpg", :alt =>"")


%div
  ¿Es Alcoholicos Anonimos para ti?
  = link_to "ENCUESTA", "/encuesta", :class => "menu_link"