%p.question_title
  ALCOHOLICOS ANONIMOS es una comunidad de hombres y mujeres que comparten su mutua experiencia, fortaleza y esperanza para resolver su problema comun y ayudar a otros a recuperarse del alcoholismo

%p
  dentro de los cuales podemos encontrar
