%p.parraf{:style => "color:#0B2F53; font-weight:bold;"}
	ALCOHOLICOS ANONIMOS

= image_tag("aalogo.jpg", :class => "aalogo")
%p.parraf
	Nsotros dentro de A.A. somos personas que hemos descubierto y admitido que no podemos controlar el alcohol. Hemos aprendido que tenemos que vivir sin el, si queremos avitar el desastre para nosotros y para los que nos rodean.

%p.parraf
	Con grupos locales, en miles de comunidades, somos parte de una organizacion internacional con miembros en mas de 180 paises. Tenemos un solo objetivo primordial: mantenernos sobrios y ayudar a otros que recurran a nosotros a lograr la sobriedad.

%p.parraf
	No somos reformistas y no estamos aliados con ningun grupo, causa o creencia religiosa. No tenemos el deseo de hacer que el mundo se vuelva seco (sobrio). No reclutamos nuestros nuevos miembros, pero los recibimos. Evitamos imponer nuestras ideas acerca del beber anormal de otros, a menos que se nos pida nuestra opinion.

%p.parraf
	Entre nuestros miembros pueden encontrarse personas de todas las edades y diferente condicion social, economica y cultural. Algunos de nosotros bebimos durante años antes de convencernos de que no podiamos controlar el alcohol. Otros tuvieron la suerte de darse cuenta en su juventud o al principio de sus "carreras alcoholicas", de que la bebida para ellos era algo inmanejable.

%p.parraf
	Las consecuencias de nuestra forma alcoholica de beber tambien han sido muy variadas. Unos cuantos de nosotros nos habiamos convertido en vagabundos perdidos antes de acudir a A.A. en busca de ayuda. Algunos habiamos perdido nuestras familias, nuestros bienes y nuestra dignidad. Hemos vivido en las calles de los barrios bajos de muchas ciudades. Algunos fuimos hospitalizados y encarcelados incontables veces. Habiamos cometido graves ofensas contra la sociedad, nuestras familias, nuestros patrones, y contra nosotros mismos.